name: Mammam Daily Update

on:
  schedule:
    # 한국 00:01 = UTC 15:01
    - cron: '1 15 * * *'
  workflow_dispatch: # 수동 실행 버튼 추가

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create json key file
        run: |
          echo '${{ secrets.GOOGLE_SHEET_KEY }}' > key.json

      - name: Run crawler
        run: python main.py
